a{
	color: black;
	text-decoration: none;

}


body{
    background: no-repeat fixed url('../img/bg.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}

.text-container{
    background-color: white;
    padding-bottom: 1px ;
    margin-top: 150px;
    box-shadow: 0 5px 10px black;
}

.main-nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    box-shadow: 0 0 5px black;
}

.navbar-brand:hover,.navbar-brand:focus {
    color: #23D604;
    text-decoration: underline;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #23D604;
    text-decoration: underline;
}


.navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link.disabled {
	color: #23D604;
}

h2{
    color: black;
    /*font-family: ;*/
    font-size: 44px;
    margin: 20px;
    text-align: center;
}

hr{
    border-bottom: 2px solid #23D604;
    width: 250px;
    margin-top: -10px;
    margin-left: -15px;
}

.title-color{
    color: #23D604;
    align-items: center;
    margin-top: 150px;
    text-align: left;
    font-size: 6em;
    margin-left: 15%;

}


.top-right{
    top: 0;
    position: absolute;
    right: 0;
}

.toggler-border{
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 0 0;
}

.navbar-toggler:hover{
    box-shadow: 0 0 0 2px;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 2px;
}

h2{
	margin: 20px;
}

.boutton{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    width: 160px;
    text-align: left;
    display: block;
}

.boutton:hover{

    color: #23D604;
    border-color: green;
    text-decoration: none;

}


